{:objects
 {:habit
  {:fields {:name       {:type String}
            :activities {:type (list String)}}}}

 :queries
 {:habit
  {:type    :habit
   :args    {:name {:type String}}
   :resolve :get-habit}

  :habits
  {:type    (list :habit)
   :resolve :all-habits}}

 :mutations
 {:add_habit
  {:type    :habit
   :args    {:name {:type (non-null String)}}
   :resolve :add-habit}
  :add_activity
  {:type    :habit
   :args    {:name {:type (non-null String)}
             :date {:type (non-null String)}}
   :resolve :add-activity}}}
